button {
    font-size: 13px;
}

button.midsmall {
    font-size: 11px;
}

button.small {
    font-size: 10px;
}

button.tiny {
    font-size: 8px;
}

button.midlarge {
    font-size: 15px;
}

button.large {
    font-size: 18px;
}

button.midhuge {
    font-size: 22px;
}

button.huge {
    font-size: 28px;
}

button.midgiant {
    font-size: 36px;
}

button.giant {
    font-size: 48px;
}

button.rump {
    border-radius: 3px;
    padding: 5px 5px 4px;
    border: 0 solid;
    margin: 0 0 1px;
}

button.rump.default {
    color: #555;
    background-color: #fff;
    box-shadow: inset 2px 2px 2px #eee, inset -2px -2px 2px #bbb;
}

button.rump.default.blur {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0.5px #555;
}

button:active.rump.default {
    box-shadow: inset 2px 2px 2px #bbb, inset -2px -2px 2px #eee;
}

button.rump.green {
    color: #efe;
    background-color: #0c0;
    box-shadow: inset 2px 2px 2px #1d1, inset -2px -2px 2px #0b0;
}

button.rump.green.blur {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0.5px #efe;
}

button:active.rump.green {
    box-shadow: inset 2px 2px 2px #0b0, inset -2px -2px 2px #1d1;
}

button.rump.orange {
    color: #ffe;
    background-color: #e70;
    box-shadow: inset 2px 2px 2px #f80, inset -2px -2px 2px #c50;
}

button.rump.orange.blur {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0.5px #ffe;
}

button:active.rump.orange {
    box-shadow: inset 2px 2px 2px #c50, inset -2px -2px 2px #f80;
}

button.rump.red {
    color: #fee;
    background-color: #c00;
    box-shadow: inset 2px 2px 2px #e22, inset -2px -2px 2px #b00;
}

button.rump.red.blur {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0.5px #fee;
}

button:active.rump.red {
    box-shadow: inset 2px 2px 2px #b00, inset -2px -2px 2px #e22;
}

button.rump.yellow {
    color: #ffe;
    background-color: #ed0;
    box-shadow: inset 2px 2px 2px #fe0, inset -2px -2px 2px #cb0;
}

button.rump.yellow.blur {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0.5px #fee;
}

button:active.rump.yellow {
    box-shadow: inset 2px 2px 2px #cb0, inset -2px -2px 2px #fe0;
}

button.rump.cyan {
    color: #eff;
    background-color: #0b8;
    box-shadow: inset 2px 2px 2px #1c9, inset -2px -2px 2px #096;
}

button.rump.cyan.blur {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0.5px #eff;
}

button:active.rump.cyan {
    box-shadow: inset 2px 2px 2px #096, inset -2px -2px 2px #1c9;
}

button.rump.lblue {
    color: #eff;
    background-color: #0cd;
    box-shadow: inset 2px 2px 2px #1dd, inset -2px -2px 2px #0aa;
}

button.rump.lblue.blur {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0.5px #eff;
}

button:active.rump.lblue {
    box-shadow: inset 2px 2px 2px #0aa, inset -2px -2px 2px #1dd;
}

button.rump.cblue {
    color: #eff;
    background-color: #09f;
    box-shadow: inset 2px 2px 2px #1af, inset -2px -2px 2px #07d;
}

button.rump.cblue.blur {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0.5px #eff;
}

button:active.rump.cblue {
    box-shadow: inset 2px 2px 2px #07d, inset -2px -2px 2px #1af;
}

button.rump.blue {
    color: #eef;
    background-color: #24f;
    box-shadow: inset 2px 2px 2px #35f, inset -2px -2px 2px #13e;
}

button.rump.blue.blur {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0.5px #eef;
}

button:active.rump.blue {
    box-shadow: inset 2px 2px 2px #13e, inset -2px -2px 2px #35f;
}

button.rump.purple {
    color: #fef;
    background-color: #84f;
    box-shadow: inset 2px 2px 2px #95f, inset -2px -2px 2px #62d;
}

button.rump.purple.blur {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0.5px #fef;
}

button:active.rump.purple {
    box-shadow: inset 2px 2px 2px #62d, inset -2px -2px 2px #95f;
}

button.rump.brown {
    color: #ffe;
    background-color: #744;
    box-shadow: inset 2px 2px 2px #855, inset -2px -2px 2px #633;
}

button.rump.brown.blur {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0.5px #ffe;
}

button:active.rump.brown {
    box-shadow: inset 2px 2px 2px #633, inset -2px -2px 2px #855;
}

button.rump.pink {
    color: #fee;
    background-color: #f8a;
    box-shadow: inset 2px 2px 2px #f9b, inset -2px -2px 2px #d68;
}

button.rump.pink.blur {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0.5px #eef;
}

button:active.rump.pink {
    box-shadow: inset 2px 2px 2px #d68, inset -2px -2px 2px #f9b;
}

button.rump.magenta {
    color: #fef;
    background-color: #b3e;
    box-shadow: inset 2px 2px 2px #c4f, inset -2px -2px 2px #91c;
}

button.rump.magenta.blur {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0.5px #fef;
}

button:active.rump.magenta {
    box-shadow: inset 2px 2px 2px #91c, inset -2px -2px 2px #c4f;
}

button.rump.gray {
    color: #eee;
    background-color: #888;
    box-shadow: inset 2px 2px 2px #999, inset -2px -2px 2px #666;
}

button.rump.gray.blur {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0.5px #eee;
}

button:active.rump.gray {
    box-shadow: inset 2px 2px 2px #666, inset -2px -2px 2px #999;
}

button.rump.black {
    color: #eee;
    background-color: #222;
    box-shadow: inset 2px 2px 2px #333, inset -2px -2px 2px #000;
}

button.rump.black.blur {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0.5px #eee;
}

button:active.rump.black {
    box-shadow: inset 2px 2px 2px #000, inset -2px -2px 2px #333;
}

button.rump.disabled {
    background-color: #bbb;
    box-shadow: inset 2px 2px 2px #999, inset -2px -2px 2px #ccc;
}
