[title] {
  font-weight:700;
}
p, div, a, button {
  cursor:default;
}
a:link, a:visited {
  text-decoration:none;
  color:#04b;
}
a:hover, a:active {
  text-decoration:none;
  color:#09f;
  font-weight:700;
}
body {
  font-family:"微软雅黑","Verdana","Arial","MS Gothic","黑体";
  position:absolute;
  top:4px;
  left:50%;
  width:100%;
  max-width:800px;
  min-height:100%;
  transform:translate(-50%,0);
  box-shadow:0px 0px 2px 2px #aaa;
  border:0px solid #000;
  border-radius:2px;
  padding:0px 24px;
}
.changelog-card {
  float:left;
  margin:-6px 8px 14px 0;
  box-shadow:0px 0px 2px 2px #aaa;
  border:0px solid #000;
  border-radius:2px;
  min-height:140px;
  min-width:200px;
  overflow-x:auto;
  overflow-y:auto;
}
.changelog-card h3 {
  margin:2px 0 0 10px;
}
.changelog-card ul {
  margin:1px 6px 6px -12px;
}
